{% extends 'teacher_base.html.twig' %}

{% block content %}
    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-sm-4" style="background-color: #9fcdff; padding-bottom: 50px; padding-top: 50px;">
            <a href="{{path('1-juma')}}" style="text-align: center;"><h3>1-Чейрек</h3></a>
        </div>
        <div class="col-sm-4" style="background-color: #80bdff; padding-bottom: 50px; padding-top: 50px;">
            <a href="{{path('1-juma')}}" style="text-align: center;" ><h3>2-Чейрек</h3></a>
        </div>
        <div class="col-sm-4" style="background-color:#9fcdff; padding-bottom: 50px; padding-top: 50px; ">
            <a href="{{path('1-juma')}}" style="text-align: center;" ><h3>3-Чейрек</h3></a>
        </div>
        <div class="col-sm-4" style="background-color: #80bdff; padding-bottom: 50px; padding-top: 50px;">
            <a href="{{path('1-juma')}}" style="text-align: center;" ><h3>4-Чейрек</h3></a>
        </div>
    </div>

{% endblock %}