{% extends 'teacher_base.html.twig' %}

{% block content %}
    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-9">
            <div class="col-sm-4">
                <table class="table table-bordered " >
                    <thead>
                    <h4 style="float: left;">Класс:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6" style="float: right; margin-top: -95px;">
                <table class="table table-bordered " >
                    <thead>
                    <h4 >Мугалим:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Бегимай Асанбекова</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3" >
                <table class="table table-bordered ">
                    <thead>
                    <h4 style="text-align: center">Тапшырмалар</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <th>04.10.2019</th>
                        <th>06.10.2019</th>
                        <th>08.10.2019</th>
                    </tr>
                    <tr>
                        <td><h6>Тема:Тендемелер</h6><br>
                            N:95
                        </td>
                        <td><h6>Тема:Туунду</h6><br>
                            N:195
                        </td>
                        <td><h6>Тема:Матрица</h6><br>
                            N:905
                        </td>
                    </tr>
                    <tr>
                        <td><h6>Тема:Туунду</h6><br>
                            N:195
                        </td>
                        <td><h6>Тема:Тендемелер</h6><br>
                            N:95
                        </td>
                        <td><h6>Тема:Тендемелер</h6><br>
                            N:95
                        </td>

                    </tr>
                    <tr>
                        <td><h6>Тема:Матрица</h6><br>
                            N:905
                        </td>
                        <td><h6>Тема:Тендемелер</h6><br>
                            N:95
                        </td>
                        <td><h6>Тема:Тендемелер</h6><br>
                            N:95
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}