{% extends 'teacher_base.html.twig' %}

{% block content %}
    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-9">
            <div class="col-sm-4">
                <table class="table table-bordered " >
                    <thead>
                    <h4 style="float: left;">Класс:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6" style="float: right; margin-top: -95px;">
                <table class="table table-bordered " >
                    <thead>
                    <h4 >Мугалим:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Бегимай Асанбекова</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3"  >
                <table class="table table-bordered " >
                    <tbody>
                    <tr>
                        <th>N:</th>
                        <th >Аты-жону</th>
                        <th>04.10.2019</th>
                        <th>06.10.2019</th>
                        <th>08.10.2019</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Нуриза Абдиллаева</td>
                        <td>кж</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Айзада Арипжанова</td>
                        <td>5</td>
                        <td> </td>
                        <td>кж</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Бексар Гасанов</td>
                        <td> </td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Бегимай Алиева</td>
                        <td>кж</td>
                        <td> </td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Аман Алиев</td>
                        <td>кж</td>
                        <td> </td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}