{% extends 'parent.html.twig' %}


{% block content %}

    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">

        <div class="col-9">
            <table class="table table-bordered ">
                <thead >
                <h3 style="text-align: center">Жеке маалыматтары</h3>
                </thead>
                <tbody>
                <tr>

                    <td class="td1">Номери</td>
                    <td class="td2">1604.01004</td>
                </tr>


                <td class="td1">Аты</td>
                <td class="td2">Жусуп</td>
                </tr>
                <tr>

                    <td class="td1">Фамилиясы</td>
                    <td class="td2">Арипжанов</td>
                </tr>
                <tr>

                    <td class="td1">Баланын саны</td>
                    <td class="td2">1</td>
                </tr>

                <tr>

                    <td class="td1">Баласы</td>
                    <td class="td2">Арипжанов</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3" >
            surot
        </div>

    </div>
{% endblock %}