{% extends 'mybase.html.twig' %}

{% block content %}
    <div class="row "style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>кыргыз тили</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>орус тили</h3></a>
        </div>
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>математика</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>физика</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>химия</h3></a>
        </div>
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>тарых</h3></a>
        </div>
    </div>

{% endblock %}