{% extends 'mybase.html.twig' %}

{% block content %}
    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important; text-align: center; padding-left: 5%;padding-right: 5%">
        <h3 > elektronduk kundoluk jonundo maalymal jazylat</h3>
        <h3>Milli Eğitim Bakanlığı, veli ve öğrencilere E-Okul Veli Bilgilendirme Sistemi ile bir çok bilgiye anında ve kolay erişim imkanı sağlıyor. Veliler öğrencilerin notlarını ve devamsızlıklarını e-okul üzerinden takip edebilirken öğrencilerin de bu bilgilere erişimi sağlanmış oluyor.
            TEOG sonuçlarının açıklanması ve nakil işlemleri gibi bir çok konuda e-okul veli bilgilendirme sistemi devreye giriyor.</h3>



    </div>

{% endblock %}