{% extends 'mybase.html.twig' %}


{% block content %}

    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">

        <div class="col-9">
            <table class="table table-bordered ">
                <thead >
                <h3 style="text-align: center">Жеке маалыматтары</h3>
                </thead>
                <tbody>
                <tr>

                    <td class="td1">Номери</td>
                    <td class="td2">1604.01004</td>
                </tr>


                <td class="td1">Аты</td>
                <td class="td2">Айзаад</td>
                </tr>
                <tr>

                    <td class="td1">Фамилиясы</td>
                    <td class="td2">Арипжанова</td>
                </tr>
                <tr>

                    <td class="td1">Туулган жери</td>
                    <td class="td2">Ош</td>
                </tr>
                <tr>

                    <td class="td1">Туулган куну</td>
                    <td class="td2">25-сентябрь 1997</td>
                </tr>
                <tr>

                    <td class="td1">Атасынын аты</td>
                    <td class="td2">Жусупбек</td>
                </tr>
                <tr>

                    <td class="td1">Апасынын аты</td>
                    <td class="td2">Роза</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3" >
            surot
        </div>

    </div>
{% endblock %}